<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>

        <!-- 是否打印所在的行号(对性能影响比较大) -->
        <property name="enable_log_location">false</property>
        <!-- 应用名 -->
        <property name="logstack.application.name">barrage</property>
        <property name="logstack.client.id">mover</property>
        <property name="vmid">server</property>
        <!-- 日志输出目录 -->
        <property name="LOG_HOME">logs/${logstack.application.name}-${logstack.client.id}</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" />
        </Console>

        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/${logstack.application.name}.log" filePattern="${LOG_HOME}/%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <Async name="AsyncAppender">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="RollingRandomAccessFileLogger" level="info" additivity="false">
            <AppenderRef ref="AsyncAppender" />
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>